.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# Ignora archivos innecesarios
node_modules/
src/
*.map
*.log

# Incluye la salida de la extensión
!out/
!out/extension.js
