# Excluir node_modules excepto lo necesario
node_modules/**
!node_modules/vscode

# Excluir configuraciones locales
.vscode/**
.vscode-test/**

# Excluir archivos de configuración y desarrollo
*.log
*.ts
*.tsx
*.map
*.json
*.yml
*.md
.eslintrc*
.prettierrc*
jest.config.js
tailwind.config.js

# Incluir solo los archivos necesarios
!out/
!out/extension.js
!out/App.js
!out/css/output.css
!"package.nls.json",
!package.nls.*.json