.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.log
**/*.ts
out/**
src/**
*.map
src/webview/index.html
src/css/output.css
src/**/*.js
!out/
!out/extension.js
